body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



.controls {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-label {
    margin-right: 10px;
}

.control-select,
.control-button {
    padding: 8px;
    font-size: 14px;
}

.chart-container {
    width: 100%;
    margin: 20px auto;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
}
